################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/HotelBackend/.vs
/.vs/TUP_P2_TP_Hotel/FileContentIndex
/.vs/TUP_P2_TP_Hotel/v17
/HotelBackend/HotelBackend/obj/Release/net6.0
/HotelBackend/.vs/HotelBackend/v17/.suo
/.vs/slnx.sqlite
/HotelBackend/HotelBackend/obj/Debug/net6.0/HotelBackend.csproj.AssemblyReference.cache
/HotelBackend/HotelBackend/obj/Debug/net6.0/HotelBackend.GeneratedMSBuildEditorConfig.editorconfig
/HotelBackend/HotelBackend/obj/Debug/net6.0/HotelBackend.csproj.AssemblyReference.cache
